<ng-container *ngIf="!isLink">
    <button [ngClass]="{'negative':isNegative}" [class]="classBtn + ' my-button' ">
        <span>{{noTranslate ? label : appService.getTranslation(label)}}</span>
        <div *ngIf="icon" class="icon sm">
            <i [class]="icon"></i>
        </div>
    </button>
</ng-container>
<ng-container *ngIf="isLink">
    <a [ngClass]="{'negative':isNegative}" [class]="classBtn + ' my-button' " [href]="link" target="_blank">
        <span>{{noTranslate ? label : appService.getTranslation(label)}}</span>
        <div *ngIf="icon" class="icon sm">
            <i [class]="icon"></i>
        </div>
    </a>
</ng-container>